.Keyboard-Area{
    height: fit-content;
    width: fit-content;
    margin: 50px auto;
    text-align: center;
}


button{
    font-weight: bolder;
    margin-left: 1px;
    margin-right: 1px;
    padding: 20px 21px;
    background-color:rgb(211, 214, 218);
    cursor: pointer;
    transition: all 0.15s;
}


button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.5;
}

.Keyboard-Row2{
    margin-top: 15px;
    margin-left: 25px;
}


.Keyboard-Row3{
    width: 690px;
    margin-top: 15px;
}

.Key-pressed-down{
    opacity: 0.5;
}


.button-go-green{
    background-color: green;
    color: white;
}


.button-go-dark{
    background-color: rgb(160, 162, 164);
    color: white;
}
.button-go-yellow{
    background-color: rgb(175, 175, 16);
    color: white;
}
